* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

input:focus {
  outline: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

body .main {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #00416A;
  background: -webkit-gradient(linear, left top, left bottom, from(#00416A), to(#E4E5E6));
  background: linear-gradient(to bottom, #00416A, #E4E5E6);
}

body .main .input-cities {
  width: 430px;
  height: 50px;
  margin: 200px auto 0 auto;
  letter-spacing: 0.6px;
  position: relative;
}

body .main .input-cities #select-cities {
  border: 1px solid #ccc;
  padding: 7px 14px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: transparent;
  width: 100%;
  height: 100%;
  font-size: 18px;
  color: #00416A;
}

body .main .input-cities #select-cities:focus ~ .label {
  top: -25px;
  left: 0;
  color: #00416A;
}

body .main .input-cities .close-button {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  z-index: 50;
  display: none;
  cursor: pointer;
}

body .main .input-cities .close-button:after,
body .main .input-cities .close-button:before {
  content: "";
  position: absolute;
  top: 23px;
  left: 16px;
  width: 20px;
  height: 3px;
  background-color: #00416A;
}

body .main .input-cities .close-button:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

body .main .input-cities .close-button:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

body .main .input-cities label {
  position: absolute;
  top: 15px;
  left: 15px;
  color: #fff;
}

.button {
  width: 100%;
  max-width: 290px;
  height: 55px;
  background: #00416A;
  display: block;
  text-align: center;
  padding-top: 18px;
  color: #E4E5E6;
  text-decoration: none;
  border-radius: 7px;
  margin: 15px auto;
  cursor: pointer;
}

.button:hover {
  background: #00609d;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.dropdown {
  width: 100%;
  background: #fff;
  max-height: 300px;
  overflow: auto;
}

.dropdown-lists {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
}

.dropdown-lists__list {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: white;
}

.dropdown-lists__list--select {
  display: none;
}

.dropdown-lists__list--autocomplete {
  display: none;
}

.dropdown-lists__col {
  width: 100%;
}

.dropdown-lists__total-line, .dropdown-lists__line {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 15px;
  cursor: pointer;
  box-sizing: border-box;
}

.dropdown-lists__country {
  font-weight: 700;
  font-size: 18px;
}

.dropdown-lists__count {
  font-style: italic;
}

.dropdown-lists__city--ip {
  color: orange;
}

.dropdown-lists__countryBlock {
  margin: 10px 0;
}

#select-cities ~ .focus-border:before,
#select-cities ~ .focus-border:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #00416A;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#select-cities ~ .focus-border:after {
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
}

#select-cities ~ .focus-border i:before,
#select-cities ~ .focus-border i:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 0;
  background-color: #00416A;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#select-cities ~ .focus-border i:after {
  left: auto;
  right: 0;
  top: auto;
  bottom: 0;
}

#select-cities:focus ~ .focus-border:before,
#select-cities:focus ~ .focus-border:after {
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#select-cities:focus ~ .focus-border i:before,
#select-cities:focus ~ .focus-border i:after {
  height: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/* loader */

.loader {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #eee;
}

:root {
  --duration: 1.5s;
  --container-size: 100px;
  --box-size: 5px;
  --box-border-radius: 15%;
}

.container-box {
  width: var(--container-size);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.box {
  width: var(--box-size);
  height: var(--box-size);
  position: relative;
  display: block;
  transform-origin: -50% center;
  border-radius: var(--box-border-radius);
}

.box:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: lightblue;
  border-radius: var(--box-border-radius);
  box-shadow: 0px 0px 10px 0px rgba(28, 159, 255, 0.4);
}

.box:nth-child(1) {
  animation: slide var(--duration) ease-in-out infinite alternate;
}

.box:nth-child(1):after {
  animation: color-change var(--duration) ease-in-out infinite alternate;
}

.box:nth-child(2) {
  animation: flip-1 var(--duration) ease-in-out infinite alternate;
}

.box:nth-child(2):after {
  animation: squidge-1 var(--duration) ease-in-out infinite alternate;
}

.box:nth-child(3) {
  animation: flip-2 var(--duration) ease-in-out infinite alternate;
}

.box:nth-child(3):after {
  animation: squidge-2 var(--duration) ease-in-out infinite alternate;
}

.box:nth-child(4) {
  animation: flip-3 var(--duration) ease-in-out infinite alternate;
}

.box:nth-child(4):after {
  animation: squidge-3 var(--duration) ease-in-out infinite alternate;
}

.box:nth-child(5) {
  animation: flip-4 var(--duration) ease-in-out infinite alternate;
}

.box:nth-child(5):after {
  animation: squidge-4 var(--duration) ease-in-out infinite alternate;
}

.box:nth-child(2):after {
  background-color: #1C9FFF;
}

.box:nth-child(3):after {
  background-color: #1FB1FD;
}

.box:nth-child(4):after {
  background-color: #22C7FB;
}

.box:nth-child(5):after {
  background-color: #23D3FB;
}

@keyframes slide {
  0% {
      background-color: #1795FF;
      transform: translatex(0vw);
  }

  100% {
      background-color: #23D3FB;
      transform: translatex(calc(var(--container-size) - (var(--box-size) * 1.25)));
  }
}

@keyframes color-change {
  0% {
      background-color: #1795FF;
  }

  100% {
      background-color: #23D3FB;
  }
}

@keyframes flip-1 {

  0%,
  15% {
      transform: rotate(0);
  }

  35%,
  100% {
      transform: rotate(-180deg);
  }
}

@keyframes squidge-1 {
  5% {
      transform-origin: center bottom;
      transform: scalex(1) scaley(1);
  }

  15% {
      transform-origin: center bottom;
      transform: scalex(1.3) scaley(0.7);
  }

  25%,
  20% {
      transform-origin: center bottom;
      transform: scalex(0.8) scaley(1.4);
  }

  55%,
  100% {
      transform-origin: center top;
      transform: scalex(1) scaley(1);
  }

  40% {
      transform-origin: center top;
      transform: scalex(1.3) scaley(0.7);
  }
}

@keyframes flip-2 {

  0%,
  30% {
      transform: rotate(0);
  }

  50%,
  100% {
      transform: rotate(-180deg);
  }
}

@keyframes squidge-2 {
  20% {
      transform-origin: center bottom;
      transform: scalex(1) scaley(1);
  }

  30% {
      transform-origin: center bottom;
      transform: scalex(1.3) scaley(0.7);
  }

  40%,
  35% {
      transform-origin: center bottom;
      transform: scalex(0.8) scaley(1.4);
  }

  70%,
  100% {
      transform-origin: center top;
      transform: scalex(1) scaley(1);
  }

  55% {
      transform-origin: center top;
      transform: scalex(1.3) scaley(0.7);
  }
}

@keyframes flip-3 {

  0%,
  45% {
      transform: rotate(0);
  }

  65%,
  100% {
      transform: rotate(-180deg);
  }
}

@keyframes squidge-3 {
  35% {
      transform-origin: center bottom;
      transform: scalex(1) scaley(1);
  }

  45% {
      transform-origin: center bottom;
      transform: scalex(1.3) scaley(0.7);
  }

  55%,
  50% {
      transform-origin: center bottom;
      transform: scalex(0.8) scaley(1.4);
  }

  85%,
  100% {
      transform-origin: center top;
      transform: scalex(1) scaley(1);
  }

  70% {
      transform-origin: center top;
      transform: scalex(1.3) scaley(0.7);
  }
}

@keyframes flip-4 {

  0%,
  60% {
      transform: rotate(0);
  }

  80%,
  100% {
      transform: rotate(-180deg);
  }
}

@keyframes squidge-4 {
  50% {
      transform-origin: center bottom;
      transform: scalex(1) scaley(1);
  }

  60% {
      transform-origin: center bottom;
      transform: scalex(1.3) scaley(0.7);
  }

  70%,
  65% {
      transform-origin: center bottom;
      transform: scalex(0.8) scaley(1.4);
  }

  100%,
  100% {
      transform-origin: center top;
      transform: scalex(1) scaley(1);
  }

  85% {
      transform-origin: center top;
      transform: scalex(1.3) scaley(0.7);
  }
}
/*# sourceMappingURL=style.css.map */